<footer class="footer">
    <div class="footer__box1">
        This is the footer
    </div>

    <img class="footer__logo" src="./assets/images/logo.png">

    <div class="footer__links">
        <a class="footer__link" href="./index.html">Front Page</a>
        <a class="footer__link" href="./page2.html">Page Two</a>
        <a class="footer__link" href="./page3.html">Page Three</a>
        <a class="footer__link" href="./page4.html">Page Four</a>
    </div>
    <div class="footer__icons">
        icons here

    </div>

    <div class="footer__box3">
        <img class="footer__logo2" src="./assets/images/logoUOC.png">
        textexto adsñfl kasñdfkla jñsdñ fasñdfkl jañsdlf jasñdfk jasñdlfk j<br>
        textexto adsñfl kasñdfkla jñsdñ fasñdfkl jañsdlf jasñdfk jasñdlfk j<br>
        textexto adsñfl kasñdfkla jñsdñ fasñdfkl jañsdlf jasñdfk jasñdlfk j<br>
        textexto adsñfl kasñdfkla jñsdñ fasñdfkl jañsdlf jasñdfk jasñdlfk j
    </div>
</footer>