<header>
    <div class=".container-fluid">
        <div class="row">

            <div class="col-sm-2">
                <img class="logo" src="./assets/images/logo.png" alt="logo">
            </div>
            <div class="col-sm-5">

            </div>
            <div class="col-sm-5 d-flex justify-content-around align-items-center">
                <a class="links__link" href="./page2.html">Page Two</a>
                <a class="links__link" href="./page3.html">Page Three</a>
                <a class="links__link" href="./page4.html">Page Four</a>

            </div>
        </div>
</header>