@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Quicksand:wght@300&display=swap');

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;


$footerBackColor: #000078;


$color-fondoResalte: rgb(202, 212, 63);
$color-fondoCaja: black;
$color-seleccionado: #EEEE66;
$color-seleccionadoFondo: #EEEEEE;
$color-footer-back:#DDDDDD;