@import "_variables.scss";

* {
    box-sizing: border-box;
}

.logo {
    width: 100%;
    height: auto;
}

.footer {
    margin-top: 2em;
}

.footer__logo {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.icono {
    margin-top: 1em;
    color: blue;
    padding: 0.6em;
    border: 1px solid blue;
    border-radius: 50%;
}

.footer__link,
.nav-link {
    font-family: 'koulen';
    font-size: 1.2em;
    text-decoration: none;

    &:hover {
        font-size: 1.5em;
        color: $color-seleccionado;
    }
}



.titulo {
    font-family: 'koulen';
    font-size: 2em;
    font-weight: lighter;
}



.ok {
    color: green;
    font-weight: bold;
}

.fail {
    color: red;
    font-weight: bold;
}

.seleccionado {
    background-color: yellow;
}

.reservado {
    background-color: red;
}