@import "_variables.scss";

@mixin miCaja() {
    // border: 1px solid black;
    border-radius: 2%;
    text-align: center;

    .micaja__img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 5%;
        margin-bottom: 1em;
    }

    .micajaBody__body {
        .micaja__title {
            background-color: $color-fondoCaja;
            color: white;
            margin-bottom: 0.6em;
        }

        .micaja__subtitle {
            background-color: $color-fondoCaja;
            color: white;
            margin-bottom: 0.6em;
            padding: 0.8em;
        }

        .micaja__text {}
    }

    &:hover {
        border: 1px solid $color-seleccionado;
        background-color: $color-seleccionadoFondo;

        h3 {
            color: $color-seleccionado;
        }
    }
}


.micaja {
    @include miCaja();
    width: 20em;
    margin-bottom: 2em;
}



main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-around;
    justify-items: center;
    column-gap: 1vh;
    row-gap: 1vh;

}

h1 {

    flex-basis: 100%;
    text-align: center;
}


.card {
    border: 1px solid black;
    flex-basis: 30%;
    min-width: 350px;
    text-align: center;
    //@include miCaja();
}