body {
    font-family: 'Quicksand';
    font-size: 0.9em;
    font-weight: bold;
}

.titulo {
    font-family: 'Oleo Script Swash Caps';
    font-size: 2em;
    font-weight: lighter;

}

.card {
    border: 1px solid black;
}



img {
    width: 100%;
}